@charset "utf-8";

/* reset */
*{
	margin: 0;
	padding: 0;
}
.clearfix::before, .clearfix::after{
	display: block;
	content: '';
	clear: both;
}

/* layout */
#wrap{
	width: 1200px;
	margin: 0 auto;
}
#side{
	float: left;
	width: 300px;
	height: 850px;
	background: #ccc;
}
#content{
	float: left;
	width: 900px;
	height: 850px;
	background: #ddd;
}

/* header */
#side .logo{
	width: 300px;
	height: 150px;
	background: #999;
}
#side .nav{
	width: 300px;
	height: 700px;
	background: #888;
}


/* banner */
#banner{
	width: 900px;
	height: 450px;
	background: #777;
}

/* contents */
#contents{}
#contents div{
	float: left;
	width: 33.333%;
	height: 300px;
}
#contents > div.cont1{
	background: #666;
}
#contents > div.cont2{
	background: #555;
}
#contents > div.cont3{
	background: #444;
}

/* footer */
#footer{}
#footer div.foot1{
	background: #333;
	float: left;
	width: 200px;
	height: 100px;
}
#footer div.foot2{
	background: #222;
	float: left;
	width: 700px;
	height: 50px;
}
#footer div.foot3{
	background: #111;
	float: left;
	width: 700px;
	height: 50px;
}