@charset "utf-8";

/* 여백 초기화 */
*{
	margin: 0;
	padding: 0;
}

/* 레이아웃 */
#wrap{
	width: 1200px;
	margin: 0 auto;
}

/* header */
#header{ 
	width: 100%;
	height: 100px;
	background: #999; 
}
#header .logo{
	float: left;
}
#header .nav{
	float: left;
}
/* //header */

/* banner */
#banner{
	width: 1200px;
	height: 300px;
	background: #222;
}
/* //banner */

/* contents */
#contents{
	width: 1200px;
	height: 200px;
	background: #333;
}
/* //contents */

/* footer */
#footer{
	width: 1200px;
	height: 100px;
	background: #444;
}
/* //footer */