@charset "utf-8";

/* reset */
*{
	margin: 0;
	padding: 0;
}
.clearfix::before, .clearfix::after{
	display: block;
	content: '';
	clear: both;
}

/* 레이아웃 */
#wrap{
	width: 1200px;
	margin: 0 auto;
}

/* header */
#header{ 
	width: 100%;
}
#header .logo{
	float: left;
	width: 250px;
	height: 100px;
	background: #888;
} 
#header .nav{
	float: left;
	width: 950px;
	height: 100px;
	background: #777;
}

/* banner */
#banner{
	width: 1200px;
	height: 300px;
	background: #666;
}

/* contents */
#contents{
	width: 100%;
}
#contents > div{
	width: 400px;
	height: 200px;
	float: left;
}
#contents > div.cont1{
	background: #555;
}
#contents > div.cont2{
	background: #444;
}
#contents > div.cont3{
	background: #333;
}

/* footer */
#footer{}
#footer div.foot1{
	float: left;
	width: 200px;
	height: 100px;
	background: #888;
}
#footer div.foot2{
	float: left;
	width: 800px;
	height: 100px;
	background: #777;
}
#footer div.foot3{
	float: left;
	width: 200px;
	height: 100px;
	background: #666;
}
